In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns = ['device_name', 'lab_no'])
devices = ['网络', '电子屏幕', '电脑', '摄像头', '音频输入输出设备']

In [13]:
# 算法 1-35
# tmpdf = ''
for i in range(1,36):
#     print(i)
    tmpdf = pd.DataFrame({
        'device_name': ['网络', '电子屏幕'],
        'lab_no': [i, i]
    })
    for j in range(20):
        tmpdf.loc[len(tmpdf.index)] = ['电脑', i]
#     break
    df = pd.concat([df, tmpdf], ignore_index = True)
df

    device_name lab_no
0            网络      1
1          电子屏幕      1
2            电脑      1
3            电脑      1
4            电脑      1
..          ...    ...
765          电脑     35
766          电脑     35
767          电脑     35
768          电脑     35
769          电脑     35

[770 rows x 2 columns]

In [14]:
# 微原 36-70
for i in range(36,71):
    tmpdf = pd.DataFrame({
        'device_name': ['网络', '电子屏幕'],
        'lab_no': [i, i]
    })
    for j in range(20):
        tmpdf.loc[len(tmpdf.index)] = ['电脑', i]
        tmpdf.loc[len(tmpdf.index)] = ['摄像头', i]
        tmpdf.loc[len(tmpdf.index)] = ['音频输入输出设备', i]
    df = pd.concat([df, tmpdf], ignore_index = True)
df

     device_name lab_no
0             网络      1
1           电子屏幕      1
2             电脑      1
3             电脑      1
4             电脑      1
...          ...    ...
2935         摄像头     70
2936    音频输入输出设备     70
2937          电脑     70
2938         摄像头     70
2939    音频输入输出设备     70

[2940 rows x 2 columns]

In [16]:
# 数据库 71-105
for i in range(71, 106):
    tmpdf = pd.DataFrame({
        'device_name': ['网络', '电子屏幕'],
        'lab_no': [i, i]
    })
    for j in range(30):
        tmpdf.loc[len(tmpdf.index)] = ['电脑', i]
    df = pd.concat([df, tmpdf], ignore_index = True)
df

     device_name lab_no
0             网络      1
1           电子屏幕      1
2             电脑      1
3             电脑      1
4             电脑      1
...          ...    ...
4055          电脑    105
4056          电脑    105
4057          电脑    105
4058          电脑    105
4059          电脑    105

[4060 rows x 2 columns]

In [17]:
df.to_excel('devices.xlsx')